html,
body,
#root {
  background-color: #F7FAFC !important;
  height: 100%;
}

#root a {
  border-bottom: 1px solid #3182CE;
  color: #3182CE;
}

#root a:hover {
  border-bottom: 1px solid #1E4E8C;
  color: #1E4E8C;
}